---
trial_bar: true
title: 作成
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.create, solution_name: "create" }
