---
trial_bar: true
title: サービス
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.services, solution_name: "services" }
