!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{data: {spy: "scroll", target: ".qnav"}}
    - if gtm_enabled?
      = partial 'includes/layout/gtm_body.html'
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    .wrapper
      .container.md-page{ class: (current_page.data.page_class if current_page.data.page_class) }
        %ol.breadcrumb
          %li You are here:
          = breadcrumbs(current_page)
        = yield
    = partial "includes/layout/footer"
