---
trial_bar: true
title: 可用性
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.availability, solution_name: "availability" }
