---
trial_bar: true
title: オープンコア
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.open_core, solution_name: "open_core" }
