---
trial_bar: true
title: インナーソース
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.innersourcing, solution_name: "innersourcing" }
