---
trial_bar: true
title: 計画
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.plan, solution_name: "plan" }
