%ul
  %li{class: ("menu-item-active" if current_page.url == "/product/")}
    %a.main-nav-link{href: "/product/"}
      製品
  %li{class: ("menu-item-active" if current_page.url == "/pricing/")}
    %a.main-nav-link{href: "/pricing/"}
      料金
  %li{class: ("menu-item-active" if current_page.url == "/installation/")}
    %a.main-nav-link{href: "/installation/"}
      インストール
  %li{class: ("menu-item-active" if current_page.url == "/links/")}
    %a.main-nav-link{href: "/links/"}
      リンク
  %li{class: ("menu-item-active" if current_page.url == "/blog/")}
    %a.main-nav-link{href: "/blog/"}
      ブログ
