---
title: "GitLab.com: 各種プランの機能比較"
extra_css:
  - pricing.css
  - compared.css
extra_js:
  - bootstrap-tooltip.js
  - comparison.js
extra_font:
  - "Roboto+Slab"
---
.content-container
  .container
    %h2.faq-title.light.text-center
      GitLab.com: 各種プランの機能比較
    .comparison-page-content.comparison.gray-bg#comparison
      = partial "includes/features/table", locals: { product_one: data.features.competitors.gitlab_core, product_two: data.features.competitors.gitlab_starter, product_three: data.features.competitors.gitlab_premium, product_four: data.features.competitors.gitlab_ultimate, key_one: 'gitlab_core', key_two: 'gitlab_starter', key_three: 'gitlab_premium', key_four: 'gitlab_ultimate', name_one: 'Free', name_two: 'Bronze', name_three: 'Silver', name_four: 'Gold', gitlab_com_features: true }
    .text-center
      = link_to "価格を表示", "/pricing/#gitlab-com", class: "featured-item-button"
